@import url("https://fonts.googleapis.com/css2?family=Montserrat:ital,wght@0,100;0,200;0,300;0,400;0,500;0,600;0,700;0,800;0,900;1,100;1,200;1,300;1,400;1,500;1,600;1,700;1,800;1,900&display=swap");
@tailwind base;
@tailwind components;
@tailwind utilities;

@layer components {
  .labelArticle {
    @apply text-dark font-bold my-2;
  }
  .bg-head {
    @apply bg-gradient-to-bl from-primary/50 from-15% via-white to-white;
  }
  .bg-head-tr-to-bl-20 {
    @apply bg-gradient-to-bl from-primary/25 from-20% via-white to-white;
  }
  .bg-head-tl-to-br-10 {
    @apply bg-gradient-to-br from-primary/10 from-10% via-white to-white;
  }
  .bg-head-tl-to-br-30 {
    @apply bg-gradient-to-br from-primary/20 from-30% via-white to-white;
  }
}
@layer utilities {
  /* Hide scrollbar for Chrome, Safari and Opera */
  .no-scrollbar::-webkit-scrollbar {
    display: none;
  }

  /* Hide scrollbar for IE, Edge and Firefox */
  .no-scrollbar {
    -ms-overflow-style: none; /* IE and Edge */
    scrollbar-width: none; /* Firefox */
  }
}
